   
{% extends 'app/perfil/baseperfil.html' %}
  {% load static %}
  {% block contenidoperfil %}
  <div class="col-sm-9">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">

            </div>
            <div class="col-sm-8 mt-5 ">
                <div class="card border-success">
                    <div class="card-body  ">
                        <a href="">
                            <div class="row rounded">
                                <h5 class="card-title"> <i class="fa-solid fa-person fa-2x"></i > Mis datos</h5>

                                <h6 class="card-subtitle mb-2 text-muted">Mira o modifica tus datos
                                    personales</h6>
                            </div>
                        </a>



                        <a href="">
                            <div class="row">
                                <h5 class="card-title"> <i class="fa-solid fa-key fa-2x"></i> Contraseñas</h5>

                                <h6 class="card-subtitle mb-2 text-muted">Cambia tus contraseñas</h6>
                            </div>
                        </a>
                        <a href="">
                            <div class="row">
                                <h5 class="card-title"> <i class="fa-solid fa-earth-americas fa-2x"></i> Direcciones</h5>

                                <h6 class="card-subtitle mb-2 text-muted">Agrega o elimina tus direcciones
                                    de entrega</h6>
                            </div>
                        </a>

                        <a href="">
                            <div class="row">
                                <h5 class="card-title"> <i class="fa-solid fa-money-bill fa-2x"></i> Subscripcion</h5>

                                <h6 class="card-subtitle mb-2 text-muted">gestiona tu subscripcion</h6>
                            </div>
                        </a>

                    </div>

                </div>
            <div class="col-sm-1 "></div>

            </div>

        </div>

    </div>
</div>
  {%endblock%}