{% extends 'app/producto/baseprod.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block contenidouser %}


<div class="container" >
  <h4 class="text-center teal lighten-4" style="font-family: Arial, Helvetica, sans-serif;" > Agregar Productos</h4>
  <div class="row ">
    <div class="col-sm-2">

    </div>
    <div class="col-sm-8 teal lighten-4 radius mt-5">
      <form action="" method="POST" class="m-5 teal-lighten-4 " enctype="multipart/form-data">
        {% csrf_token %}
        <table>
          {{ form|crispy }}
        </table>
        <input type="submit" class="btn btn-success mt-5" value="Guardar">

       
      </form>
      
    </div>
    <div class="col-sm-2">
      
    </div>
  </div>
</div>
<div class="container m-5">
  

</div>


{% endblock %}
{% block css %}

{% if messages %}
                    {% for msj in messages %}
                        <script>
                            Swal.fire({
                                title: 'Guardado!',
                                text: '{{ msj }}',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 2000
                            });
                        </script>
                    {% endfor %}
                {% endif %}
{% endblock %}