{% extends 'app/user/baseuser.html' %}
{% load static %}
{% block contenidouser %}
<!-- INICIO Productos en cartas-->

  <div class="container bg-light text-center">
    <h4 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">Productos</h4>
    <div class="row text-center">


      {% for aux in listaProductos %}
  
      <div class="col-md-3">
        <div class="card adapt">
          {% if aux.imagen %}
          <img src="{{ aux.imagen.url }}" class="card-img-top">
          {% else %}
          <img class="card-img-top" src="{% static 'app/img/baberos.jpg' %}" alt="Card image" ||>

          
          {% endif %}

          <div class="card-body">
            <h4 class="card-title" style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ aux.nombre }}</h4>
            <p class="card-text" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ aux.descripcion }}</p>
            <p class="card-text" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">{{ aux.tipo }}</p>
            {% if aux.stock <= 25 %}
            
            <p class="card-text text-danger" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Stock: {{ aux.stock }}  Pocas unidades!</p>
                
              
            
            {% else %}

            <p class="card-text" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;"> Stock: {{ aux.stock }} Muchas unidades! </p>
            {% endif %}

            <form action="" method="POST">
              {% csrf_token %}
              <input type="hidden" name="codigo" id="codigo" value="{{aux.codigo}}">
              <input type="hidden" name="nombre" id="nombre" value="{{aux.nombre}}">
              <input type="hidden" name="marca" ID="marca" value="{{aux.marca}}">
              <input type="hidden" name="pecio" id="precio" value="{{aux.precio}}">
              <input type="hidden" name="descripcion" id="descripcion" value="{{aux.descripcion}}">
              <input type="hidden" name="stock" id="stock" value="{{aux.stock}}">
              <input type="hidden" name="tipo" id="tipo" value="{{aux.TipoProducto.tipo}}">
              <input type="hidden" name="imagen" id="imagen" value="{{aux.imagen}}">
              <input type="hidden" name="created_at" id="created_at" value="{{aux.created_at}}">
              <input type="hidden" name="updated_at" id="updated_at" value="{{aux.updated_at}}">

  
              
              <a class="btn btn-primary mt-2"> <i class="fa-solid fa-money-check-dollar right"></i></i>${{ aux.precio }}</a>
              <br>
              <input type="submit" class="btn btn  mt-3" value="carrito">
            </form>
            
          </div>
        </div>
      </div>
 
      {% endfor %}

    </div>
  </div>
  

  
    {% endblock %}


    
